.raise-a-query-wrapper{
    border-radius: 0.625rem;
    padding: 0.75rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width: 768px) {
    .application-card {
        padding: 0.375rem;
    }
}