/* Styles for input boxes */
.input-box {
    
   
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem; 
    border-radius: 0.625rem;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Margin for individual input fields */
.input-field {
    margin-bottom: 1rem;
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-weight: normal;
}

/* Styles for error and success messages */
.error-message,
.success-message {
    margin-bottom: 10px;
    font-weight: normal;
}



/* Normal font weight for the selector dropdown */
.selector-dropdown {
    font-weight: normal;
}





/* Positioning and styling for toggle icon */
.toggle-icon,
.toggle-icon1 {
    position: absolute;
    top: 45%;
    z-index: 1;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    box-shadow: none;
}

/* Valid and invalid password styles with icons */
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -5px;
    content: "✔";
}
.invalid {
    color: red;
}
.invalid:before {
    position: relative;
    left: -5px;
    content: "✖";
}

/* Show validation message styles */
.showValidation {
    font-weight: normal;
}


.password-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.labelsContainer
{
    font-weight: bold;
}

@media (max-width: 767px) {
    .slds-grid {
        display: block;
    }
    .input-box {
        width: 100%;
    }
}