.forgot-password-wrapper {
  display: flex;
  flex-direction: column; 
  }
  .user-name-wrapper,.otp-verify-wrapper,.set-password-wrapper{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 1.5625rem;
  }
  .toggle-icon{
    position: absolute;
    top: 43%;
    z-index: 1;
    right: 0rem;
    outline: none;
    border: none;
    box-shadow: none;
    /* transform: translateY(-50%); */
  }

 
 .valid {
    color: green;
  }
  .valid:before {
    position: relative;
    left: -5px;
    content: "✔";
  }
  .invalid {
    color: red;
  }
  .invalid:before {
    position: relative;
    left: -5px;
    content: "✖";
  }