.mobile-number-verification-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send-otp-wrapper,.verify-otp-wrapper{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.mobile-number-input,.otp-verification-input{
width: 100%;
}
.mobile-number-display{
    display: flex;
    justify-content:space-around;
    align-items: baseline;
    gap: 0.625rem;
}

.already-signup-link a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #fff;

}