.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}


.login-link {
    color: #fff;
    text-decoration: none;
   
}

.login-link:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #fff;
}