.reset-password-labels{
    display: flex;
    flex-wrap: wrap;
    color:var(--reset-password-heading-labels-color);
    font-size: var(--reset-password-heading-labels-font-size);
    text-align: center;
    justify-content: center;
    align-items: center;
}